/* src/components/About.css */
body {
    font-family: 'Roboto', sans-serif;
}
.about {
    padding: 50px;
    background-color: #ECF0F1; /* Light background from the palette */
    text-align: center;
}

.about h2 {
    font-size: 2em;
    color: #2C3E50; /* Primary Color */
    margin-bottom: 20px;
}

.about p {
    font-size: 1.2em;
    color: #34495E; /* Dark Gray for text */
    line-height: 1.6; /* Improved readability */
    max-width: 600px;
    margin: 0 auto;
}
